---
import { BaseLayout } from "../layouts";
import { LT_SETTINGS } from "../data-list";
import { SectionWrapper, CarouselMain } from "../components";
import ApplySection from "../components/home/ApplySection.astro";
import Benefits from "../components/home/Benefits.astro";
import Requirements from "../components/home/Requirements.astro";

const { BODY } = LT_SETTINGS;
---

<BaseLayout>
  <main>
    <div class="banner-wrapper">
      {
        BODY.PRINCIPAL_SECTION.type === "banner"
          ? BODY.PRINCIPAL_SECTION?.banner && (
              <img
                src={BODY.PRINCIPAL_SECTION.banner.bannerImgUrl}
                alt={BODY.PRINCIPAL_SECTION.banner.bannerImgAlt}
                width="500"
                height="300"
              />
            )
          : BODY.PRINCIPAL_SECTION?.carousel && (
              <CarouselMain images={BODY.PRINCIPAL_SECTION?.carousel.images} />
            )
      }
    </div>

    <SectionWrapper class="benefits-section">
      <Benefits />
    </SectionWrapper>

    <SectionWrapper class="requirements-section">
      <Requirements />
    </SectionWrapper>

    <SectionWrapper class="apply-section">
      <ApplySection />
    </SectionWrapper>

    <!--// {BODY.PRODUCTS.title && <ProductsSection data={BODY.PRODUCTS} />}-->

    <!--<Services title={BODY.SERVICES?.title} list={BODY.SERVICES?.list} />-->
  </main>
</BaseLayout>

<style lang="scss">
  //MOBILE AND TABLET
  main {
    .banner-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: auto;
        z-index: 100;
      }

      .quote-wrapper {
        padding: 2em 0 0 0;

        a {
          text-decoration: auto;
        }
      }
    }
  }

  //DESKTOP
  @media (min-width: 920px) {
    main {
      display: flex;
      flex-direction: column;
      gap: 3em;
      .banner-wrapper {
        img {
          width: 100%;
          height: 85vh;
        }
      }
    }
  }
</style>
